<!DOCTYPE html>
<html>
  <head>
    <title>StackFull</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8" />
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <link rel="shortcut icon" type="image/png" href="https://pbs.twimg.com/profile_images/1220067947798024192/30eZhfxx_400x400.png" />
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type="text/javascript">
    window.homepage = "<%= image_url('homepage.png') %>";
    window.robot = "<%= image_url('robot.png') %>";
  </script>
  
  <body>
    <%= yield %>
  </body>
</html>
